/* add !important to all rules in connectButton */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,600&display=swap');

.connectButtonLight {
    background-color: #fff !important;
    color: #000 !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
    width: 70px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-family: 'Bodoni Moda', serif !important;
    font-weight: 600 !important;
}

.connectButtonDark {
    background-color: #000 !important;
    color: #fff !important;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.4) 0px -3px 0px inset !important;
    width: 70px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-family: 'Bodoni Moda', serif !important;
    font-weight: 600 !important;
}